<input type="text" ng-model="nameFilter" placeholder="Search..."/>
<div class="container-fluid main-content ng-scope">
    <div class="row-fluid">
        <div class="span12">
            <h2 class="main-titling">Drivers Championship</h2>
            <div class="row-fluid">
                <div class="span12">
                    <table border="0" class="table table-striped table-bordered box list-table">
                        <thead>
                            <tr><th colspan="4">Drivers Championship Standings</th></tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="driver in driversList| filter: searchFilter">
                                <td>{{$index + 1}}</td>
                                <td>
                                    <img src="app/assets/img/flags/{{driver.Driver.nationality}}.png" />
                                    <a href="#/driverdetails/{{driver.Driver.driverId}}">
                                        {{driver.Driver.givenName}}&nbsp;{{driver.Driver.familyName}}
                                    </a>
                                </td>
                                <td>{{driver.Constructors[0].name}}</td>
                                <td>{{driver.points}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>