<section id="main">
    <a href="./#/"><- Back to Home</a>
    <nav id="secondary" class="main-nav">
        <!-- <div class="driver-picture">
            <div class="avatar">
                <img ng-show="driver" src="app/assets/img/drivers/{{driver.Driver.driverId}}.png" />
                <img ng-show="driver" src="app/assets/img/flags/{{driver.Driver.nationality}}.png" /><br/>
                {{driver.Driver.givenName}} {{driver.Driver.familyName}}
            </div>
        </div>
        <div class="driver-status">
            Country: {{driver.Driver.nationality}}   <br/>
            Team: {{driver.Constructors[0].name}}<br/>
            Birth: {{driver.Driver.dateOfBirth}}<br/>
            <a href="{{driver.Driver.url}}" target="_blank">Biography</a>
        </div> -->
    </nav>
    <div class="span5">
        <table class="result-table" border="1">
            <thead>
                <tr><th colspan="5">Qualifying Results</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td>Pos</td> <td>Driver</td> <td>Team</td> <td>Best time</td>
                </tr>
                <tr ng-repeat="quali in qualiResult">
                    <td>{{quali.position}}</td>
                        <td>
                            <a href="#/driverdetails/{{quali.Driver.familyName | lowercase}}">
                            <img src="app/assets/img/flags/{{quali.Driver.nationality}}.png" />
                                {{quali.Driver.familyName}}
                            </a>
                        </td>
                    <td>{{quali.Constructor.name}}</td>
                    <td>{{quali.FastestLap.rank}}{{quali.FastestLap.Time.time}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="span7">
        <table class="result-table" border="1">
            <thead>
                <tr><th colspan="5">Race Results</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td>Pos</td> <td>Driver</td> <td>Team</td> <td>Result</td> <td>Points</td>
                </tr>
                <tr ng-repeat="race in raceResult">
                    <td>{{race.position}}</td>
                    <td><a href="#/driverdetails/{{race.Driver.familyName | lowercase}}">
                        <img src="app/assets/img/flags/{{race.Driver.nationality}}.png" />
                            {{race.Driver.familyName}}</a></td>
                    <td>{{race.Constructor.name}}</td>
                    <td>{{race.status == 'Finished' ? race.Time.time : race.status}}</td>
                    <td>{{race.points}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</section>